.invisible {
  display: none;
}

body {
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:red;
  background-color: black;
  background-image: url(../img/garage.jpg);
  background-size: cover;
  background-position: 0-100px;
  height: 100vh;
  display: flow-root;
}

.btn {
  border: none;
  border-radius: 2px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.btn:hover {
  cursor: pointer;
}

#header{
  background-color: black;
  color: red;
  width: 400px;
  margin-top: 30vh;
  margin-left: 130vh;
  border-radius: 10px;
  padding: 10px;
}

#main-header {
  margin: 0;
  font-size: 1.5rem;
}

#sub-header {
  margin: .25em 0;
}

#find-out {
  font-size: 1rem;
}

.call-to-action {
  font-size: .5rem;
  margin-bottom: 0;
}

#click-here {
  background-color: grey;
}

#click-here:hover {
  background-color: white;
}

#form {
  background-color: black;
  width: 400px;
  margin-top: 30vh;
  margin-left: 130vh;
  border-radius: 10px;
  padding: 10px;
}

#result-info {
  background-color: black;
  width: 400px;
  margin-top: 8vh;
  margin-left: 130vh;
  border-radius: 10px;
  padding: 10px;
}