.invisible {
  display: none;
}

body {
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:bisque;
  background-color: ;
}

.btn {
  border: none;
  border-radius: 2px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.btn:hover {
  cursor: pointer;
}

#header {
  background-image: url()
}